*.pyc
*.gz
.env
npm-debug.log
app/static/css/contribute/contribute.css
app/static/css/sandstone/sandstone-resp.css
app/static/css/sandstone/sandstone-resp.min.css
app/static/css/misc.css
node_modules/

.DS_Store
