sudo: false
language: python
python:
  - "2.7"
install:
  - pip install flake8
  - pip install -r requirements.txt
before_script:
  - flake8 app
script: npm install
deploy:
  provider: heroku
  app: contribute-json
  api_key:
    secure: AcwMG76DMPxIG8paoA+86KodHfH6hSaMJux68LU89s1c6NmumtHLiQ2Y4P9/6HCM3b4Pd4Fo+peQmTGTeiDVXA71jXLfxKamLflZKgoYaz90aVz0xwWKVY89BDfm/lKhaI+bsopiFX65gCZxFCkyfmT65At/M2Rox6Yly+iLLFo=
