sudo: false
language: python
python:
  - "2.7"
install:
  - pip install flake8
  - pip install -r requirements.txt
before_script:
  - flake8 app
script: npm install
deploy:
  provider: heroku
  app: contribute-json
  api_key:
    secure: VyDxcDkmp+aAU2ymjH3WpcyEyosqn3z+a01QKrGuiFKr7+KltCW3lceX1sUN7Uc9JgDMIn1KXqRtN8SG0BnXj/PUjiGa+wLymTeh5KAA2u/fYnCtkl/iDI9oHs/rKFkDwQSxChCARia/tDQQNiLqQuSkudsCzXG7XlVYsx7Grbc=
