# Used by the app.py
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
itsdangerous==0.24
python-memcached==1.53
jsonschema==2.3.0
requests==2.3.0
pycparser==2.10
cryptography==0.6.1
cryptography==0.6.1
six==1.8.0
cffi==0.8.6
ndg-httpsclient==0.3.2
pyasn1==0.1.7
