{% include "_banner.html" %}

<section class="wrapper content">
    <div class="content-column">
      <h1>Examples of Use</h1>
    </div>

    <div class="content-column u-padding">
      <input type="text" class="u-padding pull-right filter-by-tag"
        ng-model="searchText.keywords"
        placeholder="Filter by tag...">
    </div>
  </div>

<section class="wrapper content">
    {% raw %}
    <p ng-show="loading">Loading loading loading...</p>
    <section class="project" ng-repeat="project in projects | filter:searchText">
        <h3>{{ project.name }}</h3>
        <a ng-href="{{ project._url }}">{{ project._url }}</a>
        <p>{{ project.description }}</p>

        <h4>Project Links</h4>
        <ul class="project-links">
            <li ng-repeat="link in project.links">
                <a ng-href="{{ link.url }}">
                    <span aria-hidden="true" data-icon="&#xe803;" ng-if="link.label=='repository'">{{ link.url }}</span>
                    <span aria-hidden="true" data-icon="&#xe801;" ng-if="link.label=='prod'">{{ link.url }}</span>
                </a>
            </li>
        </ul>

        <div ng-if="project.keywords">
            <h4>Areas of Expertise</h4>
            <ul class="keywords">
                <li ng-repeat="tag in project.keywords">{{ tag }}</li>
            </ul>
        </div>
    </section>
    {% endraw %}

</section>
