{% include "_banner.html" %}

<section class="wrapper content">
    <div class="content-column">
        <h1>The Schema</h1>
        <pre class="line-numbers"><code class="json">{{ SCHEMA }}</code></pre>
    </div>
    <div class="content-column">
        <h1>The Nitty Gritty</h1>

        <p>
          We use <a href="http://json-schema.org/">json-schema.org</a> as a standard
          for the JSON you can define.
        </p>
        <p>
          The format takes some getting used to but it's really simple
          actually.
        </p>
        <p>
          What to look out for are the keys that are mentioned under
          <code>"required"</code>. For example, on the top-level the
          required keys are:
          <code>name</code>, <code>description</code> and <code>repository</code>.
        </p>
        <p>
          When in doubt, perhaps look at some of the existing
          <a ui-sref="examples">Examples</a>.
        </p>

    </div>
</section>
