<h2>What is this?</h2>

<p>It's an project to find a common standard to describe all active Mozilla
  websites and projects.</p>

<p>Two primary use cases:</p>

<ul>
  <li>Ability for a third-party service to pull in all of these and make a
    listing or dashboard.</li>
  <li>Ability for an individual to find out more about a website or project
    by simply looking for the <code>/contribute.json</code> URL.</li>
</ul>

<h2>What are the use cases?</h2>

<p>In no particular order...</p>

<ul>
  <li>
    You have a skill, say AngularJS or C++, but don't know which projects
    use this. If you could collect all the keywords from all projects
    using <code>contribute.json</code> you could easily find out which
    projects to approach with your friendly skill.
  </li>
  <li>
    You're browsing a site and discover that something is broken.
    You could just close the tab in anger or you can help out in some ways.
    Perhaps a good place is to file a bug report. Or find out where the code
    is and go there directly and make a patch. Or just find out which IRC
    channel, wiki page or mailing list people on the project hang out on.
  </li>
  <li>
    You're a developer asked to help on a project and you set to work.
    Instead of asking all the usual questions like "Where is the code?",
    "Where is the staging server?", "Do we have a mailing list?" you can
    simply look all this up in the <code>/contribute.json</code> file.
  </li>
</ul>
