<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A JSON schema for open-source project contribution data.">
    <meta name="author" content="Mozilla WebDev">

    <title>/contribute.json</title>

    <link rel="stylesheet" media="screen,projection,tv" href="//mozorg.cdn.mozilla.net/media/css/styleguide-min.css?build=a912ca0" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
    <style>
    body { font-family: "Open Sans Light",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif; }
    h1 a { font-family: "Open Sans",X-LocaleSpecific-Light,"Open Sans",X-LocaleSpecific,sans-serif; }
    pre { text-align: left; }
    .result-good { color: green; }
    .result-bad { color: red; }
    #validation {
        margin-bottom: 90px;
    }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper" ng-app="contribute">

      <div class="site-wrapper-inner">


        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading"><a href="/">/contribute.json</a></h1>
            <h4>A JSON schema for open-source project contribution data.</h4>
            <!-- <p class="lead">
              A JSON schema for open-source project contribution data.
            </p> -->

            <ng-view></ng-view>

            <script type="text/ng-template" id="validation.html">
            {% include "partials/validation.html" %}
            </script>

            <script type="text/ng-template" id="what-is-this.html">
            {% include "partials/what-is-this.html" %}
            </script>

            <script type="text/ng-template" id="examples.html">
            {% include "partials/examples.html" %}
            </script>

            <script type="text/ng-template" id="validator.html">
            {% include "partials/validator.html" %}
            </script>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>
                <a href="/what-is-this?">What is this?</a>
                &bull;
                <a href="/examples">Examples and resent submissions</a>
                &bull;
                <a href="/https%253A%252F%252Fraw.githubusercontent.com%252Fmozilla%252Fcontribute.json%252Fflask-app%252Fapp%252Fcontribute.json">This site's /contribute.json</a>
                &bull;
                <a href="https://github.com/mozilla/contribute.json">On GitHub</a>

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='controllers.js') }}"></script>
  </body>
</html>
