<!DOCTYPE html>
<html class="windows no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A JSON schema for open-source project contribution data.">
        <meta name="author" content="Mozilla WebDev">

        <title>Mozilla - contribute.json</title>

        <link rel="shortcut icon" href="img/favicon.ico" />
        <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sandstone/sandstone-resp.css') }}" media="screen">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contribute/contribute.css') }}" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/misc.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='highlight/styles/default.css') }}">

    </head>
    <body class="sand" ng-app="contribute">
        <div id="outer-wrapper">
            <div class="wrapper">
              <header id="masthead">
                <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
                <nav id="nav-main" role="menubar">
                    <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
                    <ul role="menu" id="nav-main-menu">
                        <li role="menuitem" class="first"><a ui-sref="validator">Home</a></li>
                        <li role="menuitem"><a ui-sref="schema">The Schema</a></li>
                        <li role="menuitem"><a ui-sref="examples">Examples of Use</a></li>
                        <li role="menuitem"><a href="https://github.com/mozilla/contribute.json">Fork Us On Github</a></li>
                    </ul>
                </nav>
                <h2 class='hidden-xs'>
                  <a ui-sref="validator">
                    <img src="{{ url_for('static', filename='img/sandstone/header-mozilla-stone.png') }}" alt="mozilla">
                  </a>
                </h2>
                </header>
            </div>

            <ui-view></ui-view>

            <script type="text/ng-template" id="validation.html">
            {% include "partials/validation.html" %}
            </script>

            <script type="text/ng-template" id="what-is-this.html">
            {% include "partials/what-is-this.html" %}
            </script>

            <script type="text/ng-template" id="examples.html">
            {% include "partials/examples.html" %}
            </script>

            <script type="text/ng-template" id="validator.html">
            {% include "partials/validator.html" %}
            </script>



            <footer id="colophon">
                <div class="license center">
                    <p><a ui-sref="validator"><img src="{{ url_for('static', filename='img/sandstone/footer-mozilla.png') }}" alt="mozilla"></a></p>
                    <p>Portions of this content are &copy;2013–2014 by individual mozilla.org contributors. Content available under a <a href="//www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</p>
                    <p><a href="https://github.com/mozilla/contribute.json">Contribute to this page</a></p>
                </div>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.min.js"></script>
        <script src="{{ url_for('static', filename='angular-ui-router.min.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
        <script src="{{ url_for('static', filename='controllers.js') }}"></script>
        <script src="{{ url_for('static', filename='highlight/highlight.pack.js') }}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
    </body>
</html>
